body {
  font-family: helvetica;
  text-align: center;
  color: black;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul  {
  text-align: center;
  list-style: none;
}

a,
a:active,
a:hover,
a:visited {
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: black;
}

.banner {

}

.banner,
#banner2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png"); 
}

p {
  font-size: 14px;
}

.footer {
  text-align: left;
  font-size: 0px;
  color: white;
  background-color: dimgray;
}
